{% extends 'main.html' %}
{% load static %}
{% block body %}

<!-- page title -->
<section class="page-title">
    <div class="container">
        <div class="content-box">
            <div class="title">
                <h1>المنتجات</h1>
            </div>
            <div class="bread-crumb">
                <a href="{% url 'home' %}">Home &nbsp;<i class="fa fa-angle-right"></i></a> &nbsp;<span>المنتجات</span>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- filter-->
<div class="categories-list text-center" style="margin-bottom: 40px;">
    <h2>الأقسام:</h2>
    <ul style="list-style: none; padding: 0;">
        <li style="display: inline-block; margin: 10px;">
            <a href="{% url 'products' %}" style="text-decoration: none; font-size: 18px; color: #007bff;">
                الكل
            </a>
        </li>
        {% for category in categorys %}
        <li style="display: inline-block; margin: 10px;">
            <a href="?category={{ category.id }}" style="text-decoration: none; font-size: 18px; color: #007bff;">
                {{ category.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Display filtered products -->
<div class="sec-title text-center" style="margin: 40px 0;">
    <h2 style="text-align: center;">المنتجات</h2>
</div>
<div class="row"  style="margin-left: 10%; margin-right: 10%;">
    {% for product in products %}
    <div class="col-md-4 col-sm-6 col-xs-12 filter-item">
        <div class="single-item filter-item">
            <div class="single-item-overlay">
                <div class="img-box" style="height: 360px;">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="overlay">
                        <div class="overlay-content">
                            {% if user.is_authenticated %}
                                <a href="{% url 'add_to_cart' product.id %}" class="btn-one">Add to cart</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn-one">Login to add to cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-content center">
                <h4><a href="{% url 'details' product.name %}">{{ product.name }}</a></h4>
                <div class="text"><span>${{ product.price }}</span> دينار عراقي</div>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
