{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Palatka | Responsive HTML 5 Template</title>

    <!-- Stylesheets -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">


</head>

<!-- page wrapper -->

<body class="body_wrapper">


    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->



    <!-- main header area -->
    <header class="main-header">

        <!-- header upper -->

        <!-- end header upper -->

        <!-- header lower -->
        <div class="header-lower">
            <div class="container">
                <div class="logo-box">
                    <a href="{% url 'home' %}">
                        <figure><img src="{% static 'images/home/Jotun-logo-6F50BFCAF2-seeklogo.com.png' %}" alt=""></figure>
                    </a>
                </div>
                <div class="menu-bar">
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{% url 'home' %}">الرئيسية</a></li>
                                <li><a href="{% url 'about' %}">نظرة عامة</a></li>
                                <li><a href="{% url 'products' %}">المنتجات</a></li>
                                <li><a href="{% url 'color' %}">الألوان</a></li>
                                <li><a href="{% url 'contact' %}">التواصل</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">تسجيل الخروج</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">تسجيل الدخول</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                    <div class="info-box">
                        
                        <div class="cart-box">
                            <div class="icon-box"><a href="{% url 'card' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header lower -->

        <!--sticky header-->
        <div class="sticky-header">
            <div class="container">
                <div class="logo-box">
                    <a href="{% url 'home' %}">
                        <figure><img src="{% static 'images/home/Jotun-logo-6F50BFCAF2-seeklogo.com.png' %}" alt=""></figure>
                    </a>
                </div>
                <div class="menu-bar">
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{% url 'home' %}">الرئيسية</a></li>
                                <li><a href="{% url 'about' %}">نظرة عامة</a></li>
                                <li><a href="{% url 'products' %}">المنتجات</a></li>
                                <li><a href="{% url 'color' %}">الألوان</a></li>
                                <li><a href="{% url 'contact' %}">التواصل</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">تسجيل الخروج</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">تسجيل الدخول</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                    <div class="info-box">
                        <div class="search-box-area">
                            <div class="search-box">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <input type="search" name="search" placeholder="Search Here" required>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cart-box">
                            <div class="icon-box"><a href="{% url 'card' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                            </div>
                            <!-- <div class="number">3</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sticky header -->

    </header>
    


	{% block body %}
	
	{% endblock %}    


<!--
    <footer class="main-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                        <div class="logo-widget footer-widget">
                            <div class='footer-logo'><a href="index.html">
                                    <figure><img src="{% static 'images/home/footer-logo.png' %}" alt=""></figure>
                                </a></div>
                            <div class="text">
                                <p>Palatka is dolor sit amet sed consectes
                                    adipisicing elit sedau donas eiusmod aenim
                                    minim veniam quis notrud tam exercitation
                                    ipsum dolor sit best services.</p>
                            </div>
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/JotunNo.10"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/palestine.jotun/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 footer-column">
                        <div class="service-widget footer-widget">
                            <div class="title">
                                <h5>our products</h5>
                            </div>
                            <ul class="list">
                                <li><a href="#">Best Carpets</a></li>
                                <li><a href="#">Hardwood</a></li>
                                <li><a href="#">Marble Tiles</a></li>
                                <li><a href="#">Laminate</a></li>
                                <li><a href="#">Vinyle Sheets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                        <div class="contact-widget footer-widget">
                            <div class="title">
                                <h5>Contact Info</h5>
                            </div>
                            <div class="single-box">
                                <div class="icon-box"><i class="fa fa-phone"></i></div>
                                <p>07701333605</p>
                            </div>
                            <div class="single-box">
                                <div class="icon-box"><i class="fa fa-envelope"></i></div>
                                <p>fantasyiraq909@gmail.com</p>
                            </div>
                            <div class="single-box">
                                <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                                <p>بغداد - شارع فلسطين - تقاطع الصخرة - مقابل مختبرات الاوائل </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                        <div class="subscribe-wideget footer-widget">
                            <div class="title">
                                <h5>newsletter</h5>
                            </div>
                            <div class="text">
                                <p>Subscribe to our newsletter for updates
                                    about our company</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Your Mail">
                                    <button>Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom centred">
            <div class="container">
                <div class="text">© Copyrights 2018 <a href="#">Palatka</a> All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    -->
    <!-- main footer area end -->



    <!--End bodywrapper-->


    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span>
    </div>


    <!--jquery js -->


    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/revolution.min.js' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>


    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/fslightbox/fslightbox.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/accordion.js' %}"></script>
    <script src="{% static 'assets/js/progress-bar.js' %}"></script>
    <script src="{% static 'assets/js/tab.js' %}"></script>

    <!-- End of .page_wrapper -->
</body>

</html>